[user]
	name = Spencer Barton
	email = sbarton272@gmail.com
[push]
	default = simple
[core]
  editor = vim
[alias]
  c = commit
  cm = commit -am
  ch = checkout
  s = status
  l = log
  la = log --all --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lb = log development... --pretty=format:"%h %ad | %s%d [%an]" --date=short --stat
  b = branch
  a = add .
  d = diff
  r = rebase
  rc = rebase --continue
  ps = push
  pl = pull
