[user]
  name = Spencer Barton
  email = sbarton272@gmail.com
[push]
  default = simple
[core]
  editor = vim
  pager = less -F -X
[alias]
  cm = commit
  cma = commit -am
  cmn = commit --amend
  ch = checkout
  chm = checkout master
  chb = checkout -b
  s = status
  l = log
  la = log --all --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lb = log master... --pretty=format:"%h %ad | %s%d [%an]" --date=short --stat
  b = branch
  bd = branch -D
  aa = add .
  d = diff
  r = rebase
  rc = rebase --continue
  ps = push
  pl = pull
  plr = pull --rebase
